# Environment & Secrets
.env
*.env.local

# Python & Virtual Environments
.venv/
venv/
__pycache__/
*.py[cod]

# Tooling & Test Caches
.ruff_cache/
.pytest_cache/
.coverage

# IDEs
.vscode/
.idea/
.DS_Store

# DB / Local Storage
*.db
*.sqlite3